.primary-text {
  color: #644f9c;
}
.primary-btn {
  background-color: #644f9c;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
}
.menu-btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 14px;
}
.login-btn {
  cursor: pointer;
}
.signUp-btn {
  background-color: #ff6f00;
  color: #fff;
  padding: 9px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.nav-link {
  color: #644f9c;
}
.active {
  color: #ff6f00 !important;
}
.hero {
  height: 400px;
}
.right-hero {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  width: 40%;
}
.text-between {
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.text-between > span {
  background: #fff;
  padding: 0 10px;
}
.available-icon .col-md-4 > i {
  color: #644f9c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 30px;
  border-radius: 50%;
  font-size: 40px;
}
